/* Styles go here */
body {
    background-color: lightblue;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
table {
    border-collapse: collapse;
}
table, th, td {
   border: 1px solid black;
   padding: 15px;
   color:blue;
}
img
{
  width: 50%;
}
#content
{
  width: 100%;
  float:left;
}
.studentsList
{
  width:45%;
  float:left;
}
.studentsView
{
  width:100%;
  float:left;
}
.selectedStudent
{
  width:40%;
  float:left;
  padding: 10px;
  border: 1px solid black;
  text-align:center;
}